<!doctype html>
<html>
  <title>Lunch</title>
  <body>
    <hl>Salad</hl>
  <ul>
    <li>bell pepper</li>
    <li>tomatoes</li>
    <li>lettuce</li>
    <li>olive oil</li>
    <li>cucumbers</li>
    <li>radish</li>
  </ul>
  </body>
</html>