<!DOCTYPE html>
<html>
  <head>
    <meta charset ="UTF-8">
    <title>Fortune</title>
    </head>
    <body>
      <h2>Your Fortune</h2>
      <h3> hi, <%=@the_user%>, your fortune is <%=@the_fortune%></h3>
    </body>
</html>